{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block heading %}
<h2>Clothes for most beautiful women</h2>
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img src="/static/img/dress.jpg" class="card-img-top" alt="Blue dress">
  <div class="card-body">
    <h5 class="card-title">Summer dress</h5>
    <p class="card-text">Gorgeous blue dress for a romantic girl.</p>
    <a href="http://127.0.0.1:5000/dress/" class="btn btn-primary">Have a look</a>
  </div>
</div>
{% endblock %}